body {
    background-image: url('assets/background2.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* verhindert das Scrollen */
}

#envelope, #words {
    text-align: center;
}

#start-button {
    padding: 10px 20px;
    font-size: 2.5vw; /* Kleinere Schriftgröße für mobile Bildschirme */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Fügt Abstand zwischen den Bildern und dem Button hinzu */
}

/* Optional: Du kannst diesen Container anpassen, um auch den Button mit dem Umschlag zentriert zu haben */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 80vw; /* Passt die Bilder an die Bildschirmbreite an */
    height: auto;
}
