body {
    background-image: url('assets/background2.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#envelope, #words {
    text-align: center;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Optional: Du kannst diesen Container anpassen, um auch den Button mit dem Umschlag zentriert zu haben */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



